.landingPageArrowArea {
  width: 40%;
  height: 80px;
  border: 1px solid #2f80ed;
  display: flex;
  margin-top: 100px;
  align-items: center;
  .landingPageArrowArea--textPart {
    flex-basis: 80%;
    font-weight: bold;
    color: white;
    margin-left: 10px;
  }
  .landingPageArrowArea--circleWithArrow {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid white;
    background: #303f9f;
    color: white;
    display: grid;
    place-items: center;
  }
}

@media screen and (max-width: 450px) {
  .landingPageArrowArea {
    width: 100%;
  }
}
