.PopularArticleAreaUpperGreenLine {
  margin-bottom: 30px;
  .PopularArticleAreaUpperGreenLine--textAndSelector {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    .PopularArticleAreaUpperGreenLine__textDiv {
      flex-basis: 70%;
    }
    .PopularArticleAreaUpperGreenLine__selectorDiv {
      flex-basis: 30%;
      display: flex;
      justify-content: flex-end;
      .PopularArticleAreaUpperGreenLine__select {
        margin-left: 10px;
        select {
          background: transparent;
          border: none;
          color: #2f80ed;
          outline: none;
        }
      }
    }
  }
  .PopularArticleAreaUpperGreenLine--line {
    width: 90%;
    height: 4px;
    background: grey;
    margin: 0 auto;
    border-radius: 5px;
    .PopularArticleAreaUpperGreenLine__greenLine {
      width: 80%;
      height: 4px;
      background: greenyellow;
      border-radius: 5px;
    }
  }
}
