.title {
  text-align: center;
}
.ql-editor {
  height: 240px !important;
}
.class-inputs {
  border: 2px solid;
}

.class-inputs img {
  width: 500px;
  height: 300px;
}
.cover-image {
  height: 150px;
  display: block;
  overflow: auto;
}
