// @import '../resetpassword/base.scss';

button {
  position: absolute;
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 35px;
  color: #2f80ed;
  height: 5vh;
  min-width: 10vw;
}