.listOfComments--userIconAndUsername {
    display: flex;
    padding-bottom: 5px;
    img{
      flex-basis: 4%;
      border-radius: 100%;
      margin-right: 5px;
    }
    .listOfComments--userIconAndUsername__userNameAndCreateAt{
      flex-basis: 96%;
      .createdAt{
        margin-top: -12px;
        color: gray;
      }
      .username{
        font-weight: bold;
        color: rgba($color: #000000, $alpha: .7);
      }
    }
  }
