.landingUserIconPartComponent{
    display: flex;
    .landingUserIconPartComponent--icon{
        padding-right: 5px;
    }
    .landingUserIconPartComponent--usernameAndreadtime{
        .landingUserIconPartComponent--pubAndReadTime{
            display: flex;
            .landingUserIconPartComponent--pubAndReadTime-and-dot{
                padding-left: 3px;
            }
        }
    }
}

@media screen and (max-width: 450px){
    .landingUserIconPartComponent{
        display: flex;
        .landingUserIconPartComponent--usernameAndreadtime{
            .landingUserIconPartComponent--pubAndReadTime{
                font-size: 9px;
            }
        }
    }
}