.landingArticleCardRating{
    display: flex;
    .landingArticleCardRating--rating{
        flex-basis: 30%;
    }
    .landingArticleCardRating--stars{
        flex-basis: 60%;
    }
    .landingArticleCardRating--elipesIcon{
        flex-basis: 10%;
    }
}