// mixins
.tick {
  position: relative;
  height: 22.7vh;
  margin-top: 12vh;
}

.styles {
  text-align: center;
  .pageheading {
    position: relative;
    margin: 6vh auto 3vh auto;
    width: 40.5vh;
    height: fit-content;
    font: {
      family: Roboto;
      style: normal;
      weight: lighter;
      size: 5.6vh;
    }
  }
  hr {
    position: relative;
    width: 36vh;
    height: 0px;
    margin: 2vh auto 4vh;
    border: 1px solid #c4c4c4;
  }
  .message {
    position: relative;
    margin: 1vh auto;
    width: 38vh;
    text-align: center;
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 1.9vh;
    }
  }
  .soc {
    width: 32;
    height: 32;
    margin: auto 3%;
  }
}

@media screen and (max-width: 700px) {
  .tick {
    margin-top: 7vh;
    height: 18vh;
  }
  .styles {
    .pageheading {
      margin: 3vh auto;
      font-size: 24px;
    }
  }
}