.commentCard {
    padding: 10px;
    .listOfComments--commentMessage {
      padding: 10px 0;
    }
    .divToDisplayOnClick {
    min-height: 20px;
      width: 80%;
      margin: 0 auto;
    }
  }
