// @import '../../resetpassword/base.scss';

$body-colo: black;

body {
  color: $body-colo;
  text-align: center;
  position: relative;
}

.styles {
  h2 {
    position: relative;
    margin-top: 9.3vh;
    left: 50%;
    transform: translateX(-50%);
    font: {
      family: roboto;
      style: normal;
      weight: 300;
      size: 48px;
    }
  }
  .hr {
    position: relative;
    width: 36vh;
    height: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;

    border: 1px solid #c4c4c4;
  }
  .instruction {
    position: relative;
    width: 30vh;
    margin: 6vh auto 6vh auto;
    text-align: center;
    height: fit-content;
    font: {
      family: Roboto;
      style: normal;
      weight: normal;
      size: 1.9vh;
    }
  }
  form {
    position: relative;
    margin: 6vh auto;
    width: 26vh;
    text-align: left;
    z-index: 1;
    label {
      position: relative;
      width: 100%;
      font: {
        family: Roboto;
        style: normal;
        weight: normal;
        size: 2vh;
      }
    }
    input {
      position: relative;
      width: 100%;
      height: 5.5vh;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      border-radius: 5px;
      text-indent: 2%;
    }
    .error {
      text-align: center;
      color: red;
    }
    button {
      position: relative;
      margin: 1.9vh auto 12vh;
      width: 100%;
      height: 6vh;
      border: 1px solid #2f80ed;
      box-sizing: border-box;
      border-radius: 35px;
      font-size: 2vh;
      color: #2f80ed;
    }
  }
  .nav {
    z-index: 2;
  }
  .justify-content-end {
    z-index: 1;
    background: white;
  }
  :focus {
    outline: none;
  }
}
    .fixed-bottom {
      z-index: 1;
      background: white;
    }
